<tr class="term">
    <td>
        <strong>{{ term.name }}</strong>
    </td>
    <td>
        <ul class="properties">
            {% for property in term.properties.all %}
            {% include 'vocabs/property_detail.html' %}
            {% endfor %}
        </ul>
        <div class="properties-controls">
            <select class="add-property" hx-target="previous .properties" hx-swap="beforeend">
                <option>Add a property</option>
                {% for predicate in predicates %}
                <option hx-get="{% url 'new_property' %}?term_id={{ term.id }}&amp;predicate={{ predicate.curie }}">
                    {{ predicate.curie }}
                </option>
                {% endfor %}
            </select>
        </div>
    </td>
    <td>
        <a href="{{ term.uri }}">{{ term.uri }}</a>
    </td>
    <td>
        <button class="delete" hx-delete="{% url 'show_term' pk=term.id %}" hx-target="closest .term" hx-swap="delete"
                hx-confirm="Really delete the term '{{ term.name }}'?">Delete</button>
    </td>
</tr>
