table {
    border-collapse: collapse;
}

th,
td {
    border: 1px solid #666;
    padding: .5em;
}

th {
    background-color: #ddd;
}

td {
    vertical-align: top;
}

tbody tr:nth-child(2n) {
    background-color: #eee;
}

.properties-header {
    width: 40em;
}

ul {
    margin: 0;
    padding: 0 .5em;
    list-style-type: none;
}

.term li>button,
.term td select {
    opacity: 0.25;
}

.term li:hover>button,
.term td:hover select {
    opacity: 1.0;
}

li,
form {
    margin: 0 0 .5em 0;
}

.properties-controls {
    padding: 0 .5em;
}

.form-fields {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: .75em;
}
.form-fields>dt {
    text-align: right;
}
.form-fields>dd {
    margin: 0;
}

.required {
    font-weight: bold;
}
