td {
    vertical-align: top;
}

fieldset {
    display: inline-block;
    border: none;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.property>.controls>button,
.term td select {
    opacity: 0.25;
    padding: .125em .5em;
}

.property:hover>.controls>button,
.term td:hover select {
    opacity: 1.0;
}

li,
form {
    margin: 0 0 .5em 0;
}

.properties-controls {
    padding: .5em 0;
}

.form-fields {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-column-gap: 0.5em;
    grid-row-gap: .75em;
}

.form-fields>dt {
    text-align: right;
}
.form-fields>dd {
    margin: 0;
}

.required {
    font-weight: bold;
}
.required+dd:after {
    content: '(required)';
    padding-left: .5em;
    font-style: italic;
}


.form-fields dt {
    padding: .5em 0;
}

.property {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: 100%;
    grid-column-gap: .5em;
    align-items: center;
}
.property:hover {
    background-color: var(--info-subtle);
}
.property>.controls {
    display: inline-block;
    padding-left: 2em;
    text-align: right;
}

.property>.controls>button {
    background-color: var(--light-gray);
    color: black;
}
.property>.controls>button.delete:hover {
    background-color: var(--danger);
    border-color: var(--danger);
    color: white;
}
.property>.controls>button.edit:hover {
    background-color: var(--info);
    border-color: var(--info);
    color: black;
}

button.publish {
    background-color: var(--success);
    border-color: var(--success);
    color: white;
}
button.publish:hover {
    background-color: var(--success-shaded);
    border-color: var(--success-shaded);
    color: white;
}

button.unpublish {
    background-color: var(--warning);
    border-color: var(--warning);
    color: black;
}
button.unpublish:hover {
    background-color: var(--warning-shaded);
    border-color: var(--warning-shaded);
    color: white;
}

.status {
    padding: .125em .5em;
    border-radius: 5px;
}
.status.published {
    border: 1px solid var(--success);
    background-color: var(--success-subtle);
    color: var(--success);
}
